        body {
            background-color: rgb(255, 255, 255);
            max-width: 95%;
            margin: auto;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
        }
        /* Main Logo */
        
        .mylogo {
            padding-top: 5px;
        }
        /* Icons and contact number */
        
        .telicon {
            border-top: solid 1px;
            border-color: rgb(218, 214, 219);
            margin-left: 0px;
            margin-right: 0px;
        }
        
        .telno {
            display: flex;
            align-items: center;
            padding: 0;
        }
        
        .icons {
            text-align: right;
            padding: 0;
        }
        
        .icons a {
            color: #d47ca1;
            border-radius: 50%;
        }
        
        .telno a {
            color: #d47ca1;
            font-size: 18px;
            font-weight: 500;
        }
        /* Navigation section */
        
        nav.navbar {
            padding: 0;
            margin-left: 0px;
            margin-right: 0px;
        }
        
        .navbar-nav.a.nav-link {
            padding-right: 15px;
        }
        
        .navbar-custom {
            background-color: #d47ca1;
        }
        
        .navbar-custom a {
            color: #38383a;
            font-weight: 400;
        }
        
        a:hover {
            background-color: rgb(211, 216, 216);
            border-radius: 3px;
            color: #d47ca1;
        }
        
        a.active {
            background-color: rgb(211, 216, 216);
            border-radius: 3px;
            color: #d47ca1;
        }
        
        .form-inline {
            margin-right: 5px;
        }
        
        .form-control {
            font-size: .75rem;
            height: 35px;
            background-color: #d4b2c0;
        }
        
        .breadcrumb-item a {
            color: #d468a6;
            font-size: 12px;
        }
        
        .breadcrumb-item::before {
            font-size: 12px;
        }
        /* Main pages */
        /* HOME PAGE */
        
        .mainimage {
            margin-left: 0px;
            margin-right: 0px;
            background-image: url('../images/Picture1.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            flex-direction: column;
            align-content: space-between;
            padding-top: 25px;
            padding-bottom: 10px;
        }
        
        .content {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: black;
        }
        
        .ir1 {
            margin-bottom: 75px;
        }
        
        .ir1c1 {
            width: auto;
            height: 300px;
            flex-direction: column;
            align-content: space-between;
            font-size: 2.3rem;
            font-weight: 500;
            color: #d468a6;
        }
        
        .ir1c2 {
            height: 450px;
            flex-direction: column;
            justify-content: space-between;
        }
        
        .ir1c2>.r1,
        .ir1c2>.r2,
        .ir1c2>.r3,
        .ir1c2>.r4,
        .ir1c2>.r5,
        .ir1c2>.r6,
        .ir1c2>.r7 {
            font-size: 1.2rem;
            color: #613f52;
            font-weight: 500;
        }
        
        .linkbutton {
            margin-right: 15px;
            margin-bottom: 10px;
            color: #38383a;
            border-color: #d4b2c0;
            background-color: #d47ca1;
        }
        
        .linkbutton:hover {
            background-color: rgb(211, 216, 216);
            border-color: #d4b2c0;
            border-radius: 3px;
            color: #d47ca1;
        }
        /* BOWEN THERAPY PAGE */
        
        .tbt-r1 h6 a {
            color: #d47ca1;
        }
        
        .tbt-r1 p a {
            color: #d47ca1;
        }
        
        .video {
            margin-top: 10px;
            background-color: #d4b2c0;
        }
        /* ABOUT MARY LOU PAGE */
        
        .amr1 {
            margin-top: 15px;
            margin-bottom: 10px;
        }
        
        .amr1c1>.r1>.c1 {
            max-width: 230px;
        }
        
        .marylou {
            height: auto;
            width: auto;
            margin-top: 10px;
        }
        
        .amr1c1>.r1>.c2 {
            font-size: 25px;
            color: #38383a;
        }
        
        .amr1c2 .r1 .c1 {
            color: #d47ca1;
            font-size: x-large;
        }
        
        .link {
            color: #d47ca1;
        }
        
        .amr1c2 .sh {
            font-size: 14px;
            margin-bottom: 20px;
            background-color: rgba(221, 214, 214, 0.6);
        }
        
        .amr1c1 .cv {
            margin-top: 5px;
            border-top: solid;
            border-color: #d47ca1;
            border-width: 2px;
            padding-top: 5px;
            margin-right: 15px;
        }
        /* CONTACT / BOOKING FORM PAGE */
        
        .fieldset {
            border: 1px;
            padding: 10px;
            border-style: solid;
            border-color: #d468a6;
            margin: 5px;
        }
        
        .contactinfo {
            margin-top: 15px;
        }
        
        .form-group {
            margin-bottom: 3px;
        }
        
        legend {
            font-size: 20px;
        }
        
        .namelabel,
        .email,
        .mobno,
        .telno,
        .comment {
            font-size: 14px;
            margin-bottom: 2px;
        }
        
        .form-control.namef {
            width: 65%;
        }
        
        .form-control.emailf {
            width: 75%;
        }
        
        .form-control.mobnof {
            width: 30%;
        }
        
        .form-control.telnof {
            width: 30%;
        }
        
        .form-control.commentf {
            width: 100%;
            margin-bottom: 20px;
        }
        
        .contactformsubmit {
            background-color: #d468a6;
            border-color: #d468a6;
        }
        
        .contactformsubmit:hover {
            background-color: #75d468;
            border-color: #d468a6;
        }
        /* Research */
        
        .robot,
        .research {
            font-size: 14px;
            margin-right: 20px;
        }
        
        .research p {
            margin-bottom: 2px;
        }
        
        .researchb.form-group {
            margin-bottom: 20px;
            font-size: 14px;
        }
        
        @media screen and (max-width:600px) {
            div.researchb {
                float: left;
            }
        }
        /* Map */
        
        div.map {
            width: 100%;
            height: 600px;
            border-style: solid;
            border-width: 5px;
            border-color: #d468a6;
            align-content: center;
            margin-bottom: 15px;
            margin-left: auto;
            margin-right: auto;
        }
        /* ALL PAGES */
        /* Footer section */
        
        .footer {
            border-top: solid;
            border-color: #d468a6;
            border-width: 4px;
            background-color: #fff;
        }
        
        .copyright {
            font-size: 0.7rem;
            color: #525355
        }
        
        .copyright a {
            color: #525355;
            font-size: 1.25em;
        }
        
        .ydt {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            flex-direction: column;
            font-size: 0.7em;
            color: #525355;
        }
        
        .affiliations {
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
        
        .rectimg {
            padding: 0;
            margin: 0;
        }
        
        .affiliations img {
            width: 70px;
            padding: 0;
            margin: 0;
        }