            body {
                background-color: rgb(255, 255, 255);
                max-width: 95%;
                margin: auto;
                text-decoration: none;
            }
            /* Main Logo */
            
            .mylogo {
                padding-top: 5px;
            }
            /* Icons and contact number */
            
            .telicon {
                border-top: solid 1px;
                border-color: rgb(218, 214, 219);
                margin-left: 0px;
                margin-right: 0px;
            }
            
            .telno {
                display: flex;
                align-items: center;
                padding: 0;
            }
            
            .icons {
                text-align: right;
                padding: 0;
            }
            
            .icons a {
                color: #d47ca1;
                border-radius: 50%;
            }
            
            .telno a {
                color: #d47ca1;
                font: helvetica;
                font-size: 18px;
                font-weight: 500;
            }
            /* Navigation section */
            
            nav.navbar {
                padding-left: 0px;
                padding-right: 0px;
                padding-top: 0px;
                padding-bottom: 0px;
                margin-left: 10px;
                margin-right: 10px;
            }
            
            .navbar-nav.a.nav-link {
                padding-right: 15px;
            }
            
            .navbar-custom {
                background-color: #d47ca1;
            }
            
            .navbar-custom a {
                color: #38383a;
                font-weight: 400;
            }
            
            a:hover {
                background-color: rgb(211, 216, 216);
                border-radius: 3px;
                color: #d47ca1;
            }
            
            a.active {
                background-color: rgb(211, 216, 216);
                border-radius: 3px;
                color: #d47ca1;
            }
            
            .form-inline {
                margin-right: 5px;
            }
            
            .form-control {
                font-size: .75rem;
                height: 35px;
                background-color: #d4b2c0;
            }
            
            .breadcrumb-item a {
                color: #d468a6;
                font-size: 12px;
            }
            
            .breadcrumb-item::before {
                font-size: 12px;
            }
            /* Main pages */
            
            .mainimage {
                margin-left: 10px;
                margin-right: 10px;
                background-image: url('/assets/images/Picture1.jpg');
                height: 100%;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }
            
            .content {
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: black;
            }
            /* Contact Form */
            
            .fieldset {
                border: 1px;
                padding: 10px;
                border-style: solid;
                border-color: #d468a6;
                margin: 5px;
            }
            
            legend {
                font-size: 20px;
            }
            
            label.lnamelabel {
                font-size: 14px;
                margin-bottom: 2px;
            }
            
            .form-control.lname {
                width: 75%;
            }
            
            .btn-primary {
                background-color: #d468a6;
                border-color: #d468a6;
            }
            
            .btn-primary:hover {
                background-color: #75d468;
                border-color: #d468a6;
            }
            /* Footer section */
            
            .footer {
                background-color: #38363754;
            }
            
            .copyright {
                float: left;
                font-size: 0.9em;
                color: #525355
            }
            
            .copyright a {
                color: #525355;
                font-size: 1.25em;
                ;
            }
            
            .ydt {
                text-align: right;
                font-size: 0.9em;
                color: #525355
            }
            
            .affiliations {
                display: inline-flex;
                align-items: center;
                justify-content: center;
            }
            
            .affiliations img.btpa {
                width: 70px;
                height: 70px;
                margin-right: 7px;
                margin-left: 7px;
                align-items: center;
            }
            
            .affiliations img {
                width: 120px;
                height: 70px;
                margin-right: 7px;
                margin-left: 7px;
            }
            
            .myfooter {
                max-width: 100%;
                height: 100px;
            }