            body {
                background-color: rgb(255, 255, 255);
                text-decoration: none;
                margin-left: 5px;
                margin-right: 5px;
            }
            /* Main Logo */
            
            .mylogo {
                padding-top: 5px;
            }
            /* Icons and contact number */
            
            .telicon {
                border-top: solid 1px;
                border-color: rgb(218, 214, 219);
                margin-left: 0px;
                margin-right: 0px;
            }
            
            .telno {
                display: flex;
                align-items: center;
                padding: 0;
            }
            
            .icons {
                text-align: right;
                padding: 0;
            }
            
            .icons a {
                color: #da4699;
                border-radius: 50%;
            }
            
            .telno a {
                color: #da4699;
                font: helvetica;
                font-size: 18px;
            }
            /* Navigation section */
            
            nav.navbar {
                padding-left: 0px;
                padding-right: 0px;
                padding-top: 0px;
                padding-bottom: 0px;
                margin-left: 15px;
                margin-right: 15px;
            }
            
            .navbar-custom {
                background-color: #ddabc7;
            }
            
            .navbar-custom a {
                color: #525355;
            }
            
            a.active:hover {
                background-color: rgb(211, 216, 216);
                border-radius: 3px;
                color: rgb(163, 27, 163);
            }
            /* Footer section */
            
            .footer {
                background-color: #ddabc7;
            }
            
            .ydt {
                text-align: right;
            }
            
            .myfooter {
                max-width: 100%;
                height: 100px;
            }